:root {
    --primary-dark: #5B3A63; 
    --dark-hover: #7f5f8f;
    --light-hover: #F0E6F8;
    /* Colores Base */
    --bg-light: #F8FAFC;
    --text-dark: #1F2937;
    --border-light: #E5E7EB;
}

/* NAVBAR START */
.navbar-purple {
    background: var(--primary-dark);
}

.navbar-purple .navbar-brand,
.navbar-purple .nav-link {
    color: var(--bg-light);
}

.navbar-purple .nav-link:hover {
    color: var(--bg-light);
}

.navbar-purple .container-fluid {
    padding-top: 3px;
    padding-bottom: 3px;
}
/* NAVBAR END */


/* BOTONES START */
.btn-primary {
    background-color: var(--primary-dark); 
    border-color: var(--primary-dark);
    color: white;
}

.btn-primary:hover {
    background-color: var(--dark-hover);
    border-color: var(--dark-hover);
    color: white; 
}

.btn-outline-primary {
    background-color: white; 
    border-color: var(--primary-dark); 
    color: var(--primary-dark); 
}

.btn-outline-primary:hover {
    background-color: var(--light-hover);
    border-color: var(--primary-dark); 
    color: var(--primary-dark);
}

.btn-outline-custom {
    color: var(--primary-dark);
    border-color: var(--primary-dark);
    background-color: transparent;
    }
    
.btn-outline-custom:hover {
    background-color: var(--light-hover);
    border-color: var(--primary-dark); 
    color: var(--primary-dark); 
    }
/* BOTONES END */

/* FORM STYLES START */

label {
    color: var(--primary-dark);
}

.form-control {
border-radius: 0.75rem;
border-color: var(--primary-dark);
border-width: 1px; 
}

.form-control:focus {
    border-color: var(--primary-dark);  
    box-shadow: 0 0 0 0.25rem rgba(91, 58, 99, 0.25);
}

/* FORM STYLES END */

/* GLOBAL STYLES START */

.text-primary-dark {
    color: var(--primary-dark);
    }
    
.hover-underline:hover {
    text-decoration: underline !important;                          
    cursor: pointer;                                 
    }      
    
/* GLOBAL STYLES END */
